@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

html {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;


}

body {
  background-color: white;
  background-image: url(/Images/background-one.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  display: grid;
  grid-gap: 20px;
}

.mainNav {
  background-color: black;
}

/* nav bar */
.mainNav ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr);  
}

.mainNav a {
  display: block;
  text-align: center;
  text-transform: uppercase;
  font-size: 1,5rem;  
  color: white;
}

.mainNav a:hover {
  background-color: rgb(46, 43, 43);
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100vw;
  display: block;
  overflow: hidden;
  box-sizing: border-box;
  background-color: black;
}

/* .innerFooter {
  width: 1100px;
  height: 100%;
} */

.icons {
  display: flex;
  justify-content: flex-end;
  position: relative;
  left: 450px;
}

.icons li {
  padding: 15px;
  font-size: 30px;
}

footer p {
  color: white;
  padding: 15px 0px 0px 15px;
}

.fa-github {
  color:white;
}

.fa-linkedin {
  color:  #0072b1;
}