@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

html {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  height: 100%;
}

body {
  background-color: rgba(199, 199, 199, 0.824);
  display: flex;
  flex-direction: column;
  height: 100%;
}

.container {
  flex-grow: 1;
}

header {
  background-color: black;
  height: 40px;
  padding-top: 20px;
  position: absolute;
  width: 100%;
}

/* nav bar */
header ul {
  display: flex;
  justify-content: space-evenly;
  font-size: 20px; 
}

header a {
  display: block;
  text-align: center;
  text-transform: uppercase;
  font-size: 1,5rem;  
  color: white;
  margin: 0 10px;
}

header a:hover {
  background-color: rgb(46, 43, 43);
}

.container-presentation  {
  background-image: url(/Images/background-mountain.jpg);
  padding-top: 60px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  min-height: calc(100vh - 199px);
}



.overlay-text { 
  padding-top: 100px;  
} 

.overlay-text h1 {
  color: black;
  font-size: 100px; 
  transform: translate(10%); 
  
}

.overlay-text h2 {
  color:yellowgreen;
  font-size: 100px;
  transform: translate(25%);
  
}

footer {
  background-color: black;
  flex-shrink: 1;
}

footer p {
  color: white;
  padding: 15px 0px 0px 15px;
  align-self: center;
}

.icons {
  display: flex;
  justify-content: flex-end;
  position: relative;
  padding: 0px 25px 15px 10px;
  margin: 10px
}

.fa-github {
  color:white;
  font-size: 40px;
  padding-top: 10px;
  margin: 10px;  
}

.fa-linkedin {
  color:  #0072b1;
  font-size: 40px;
  padding-top: 10px;
  margin: 10px
}


@media screen and (max-width: 768px) {
  header ul {
    font-size: 15px; 
  }
}

@media screen and (max-width: 425px) {
  header ul {
    font-size: 15px; 
  }
}