@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

html {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body {
  background-color: white;
  /* background-image: url(/Images/background-one.jpg);
  background-repeat: no-repeat;
  background-size: cover; */
}

.container {
  display: grid;
  grid-gap: 20px;
}

header {
  background-color: black;
  height: 40px;
  padding-top: 20px;
}



/* nav bar */
header ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr); 
  font-size: 20px; 
}

header a {
  display: block;
  text-align: center;
  text-transform: uppercase;
  font-size: 1,5rem;  
  color: white;
}

header a:hover {
  background-color: rgb(46, 43, 43);
}

  
.project-one { 
  grid-area: 1 / 2 / 2 / 3; 
}

.project-two {
   grid-area: 1 / 3 / 2 / 4;
}
 
.project-three {
  grid-area: 1 / 4 / 2 / 5;
}

.project-four {
  grid-area: 3 / 2 / 4 / 3;
}

.project-five {
  grid-area: 3 / 3 / 4 / 4;
}

.project-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  justify-items: center;

}

.project-container img {
  height: 200px;
  width: auto;
}

.project-container p {
  text-align: center;
  color: black;
}


footer {
  background-color: black;
  position: fixed;
  bottom: 0px;
  width: 100%;
}

.icons {
  display: flex;
  justify-content: flex-end;
  position: relative;
  padding: 0px 25px 15px 10px;
}

footer p {
  color: white;
  padding: 15px 0px 0px 15px;
}

.fa-github {
  color:white;
  font-size: 40px;
  padding: 15px
}

.fa-linkedin {
  color:  #0072b1;
  font-size: 40px;
  padding: 15px;
}