@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

html {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body {
  background-color: rgba(235, 235, 235, 0.817); 
}

main {
  width: 90vw;
  margin: 0 auto;
  padding: 30px 20px;
  min-height: calc(100vh - 60px - 99px);
}

header {
  background-color: black;
  height: 40px;
  padding-top: 20px;
}

/* nav bar */
header ul {
  display: flex;
  justify-content: space-evenly;
  font-size: 20px; 
}

header a {
  display: block;
  text-align: center;
  text-transform: uppercase;
  font-size: 1,5rem;  
  color: white;
  margin: 0 10px;
}

header a:hover {
  background-color: rgb(46, 43, 43);
}

.project-container {
  display: grid;
  gap: 1rem; 
  margin: 20px 0;
  grid-template-columns: repeat(5, 1fr);  
  justify-items: center;
}  

.project-one { 
  grid-area: 1 / 2; 
}

.project-two {
   grid-area: 1 / 3;
}
 
.project-three {
  grid-area: 1 / 4;
}

.project-four {
  grid-area: 3 / 2;
}

.project-five {
  grid-area: 3 / 3;
}

.project-container img {
  height: 200px;
  width: auto;
}

.project-container p {
  text-align: center;
  color: black;
}

footer {
  background-color: black;
}

.icons {
  display: flex;
  justify-content: flex-end;
  position: relative;
  padding: 0px 25px 15px 10px;
}

footer p {
  color: white;
  padding: 15px 0px 0px 15px;
}

.fa-github {
  color:white;
  font-size: 40px;
  padding-top: 10px;
  margin-right: 10px;  
}

.fa-linkedin {
  color:  #0072b1;
  font-size: 40px;
  padding-top: 10px;
}

@media screen and (max-width: 1024px) {
.project-container {
  grid-template-columns: 1fr 1fr;   
  gap: 1rem; 
  margin: 20px 0;
}
  
.project-one {      
  grid-row-start: auto;
  grid-column-start: 1;
  grid-row-end: auto;
  grid-column-end: 2;
}
    
.project-two {
  grid-row-start: auto;
  grid-column-start: 2;
  grid-row-end: auto;
  grid-column-end: 3;
}
     
.project-three {      
  grid-row-start: auto;
  grid-column-start: 1;
  grid-row-end: auto;
  grid-column-end: 2;
}
    
.project-four {     
  grid-row-start: auto;
  grid-column-start: 2;
  grid-row-end: auto;
  grid-column-end: 3;
}
    
.project-five {     
  grid-row-start: auto;
  grid-column-start: 1;
  grid-row-end: auto;
  grid-column-end: 2;
  }
}

@media screen and (max-width: 768px) {
  header ul {
    font-size: 15px; 
}

.project-container {
  grid-template-columns: 1fr;
  grid-column-start: auto;  
  grid-column-end: auto;
}

.project-one { 
  grid-row-start: auto;
  grid-column-start: 1;
  grid-row-end: auto;
  grid-column-end: 2;
}
  
.project-two {
  grid-row-start: auto;
  grid-column-start: 1;
  grid-row-end: auto;
  grid-column-end: 2;
}
   
.project-three {
  grid-row-start: auto;
  grid-column-start: 1;
  grid-row-end: auto;
  grid-column-end: 2;
}
  
.project-four {
  grid-row-start: auto;
  grid-column-start: 1;
  grid-row-end: auto;
  grid-column-end: 2;
}
  
.project-five {
  grid-row-start: auto;
  grid-column-start: 1;
  grid-row-end: auto;
  grid-column-end: 2;
 }
}

@media screen and (max-width: 425px) {
  header ul {
    font-size: 15px; 
  }
}