@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

body {  
  font-family: 'Montserrat'sans-serif;
  display: flex;
  flex-direction: column;
}

.container {
  flex-grow: 1;
}

.navigation{
  display: flex;
  height: 80px;
  width: 100%;
  background-color: rgb(69, 85, 70);
  align-items: center;
  justify-content: space-between;
  padding: 0 50px 0 100px;
  flex-wrap: wrap;
  z-index: 1;
}

.logo{
  float: right;
  color: white;
  font-size: 35px;
  line-height: 80px;
  padding: 0 25px;
  font-weight: bold;
}

.navigation ul{
  display: flex;
  flex-wrap: wrap;
  list-style: none;  
  z-index: 1;
}

.navigation ul li{
  margin: 0 5px;
  line-height: 80px;
  margin: 0 5px;
}

.navigation ul li a{
  color: white;
  text-decoration: none;
  font-size: 20px;  
  padding: 8px 15px;
  border-radius: 5px;
  text-transform: uppercase;
}

a:hover {
  background: rgb(93, 109, 94);
  transition: .5s;
} 

.menu-btn i{
  color: #fff;
  font-size: 22px;
  cursor: pointer;
  display: none;
}
input[type="checkbox"]{
  display: none;
}

.container {
  background-color: rgb(102, 108, 102);
  min-height: calc(100vh - 139px);
}


.foot {
  background-color: rgb(69, 85, 70);
  flex-shrink: 1;
}

.foot p {
  color: white;
  padding: 15px 0px 0px 15px;
  align-self: center;
}

.icons {
  display: flex;
  justify-content: flex-end;
  position: relative;
  padding: 0px 25px 15px 10px;
  margin: 10px
}

.fa-github {
  color:white;
  font-size: 40px;
  padding-top: 10px;
  margin: 10px;  
}

.fa-linkedin {
  color:  #0072b1;
  font-size: 40px;
  padding-top: 10px;
  margin: 10px
}

.project-container {  
  display: grid;
  gap: 1rem; 
  margin: 20px 0;
  grid-template-columns: repeat(5, 1fr);  
  justify-items: center;
}  

/* HÄR NEDAN ÄR BEM KLASSERNA */

.btn {  
  display: block;
  font-size: 20px;  
  border:  10px dotted;  
  cursor: pointer;
  font: 30px/40px Helvetica, arial; 
  padding: 20px;
}

.btn--one {
  background-color: rgb(191, 16, 16);
  color: blue;
}

.btn--two {
  background-color: rgb(120, 108, 108);
  color: indianred;
}

.btn--three {
  background-color: crimson;
  color: darkorange;
}

.btn--four {
  background-color: darkorchid;
  color: lightcoral;
}

.btn--five {
  background-color: purple;
  color: rgb(61, 194, 170);
}

/* OVAN ÄR BEM CSS */

.project-one { 
  grid-area: 1 / 2; 
}

.project-two {
   grid-area: 1 / 3;
}
 
.project-three {
  grid-area: 1 / 4;
}

.project-four {
  grid-area: 3 / 2;
}

.project-five {
  grid-area: 3 / 3;
}

.project-container img {
  height: 200px;
  width: auto;
}

.project-container p {
  text-align: center;
  color: black;
}

.foot {
  background-color: black;
  flex-shrink: 1;
}

.foot p {
  color: white;
  padding: 15px 0px 0px 15px;
}

.icons {
  display: flex;
  justify-content: flex-end;
  position: relative;
  padding: 0px 25px 15px 10px;
  margin: 10px
}

.fa-github {
  color:white;
  font-size: 40px;
  padding-top: 10px;
  margin: 10px;  
}

.fa-linkedin {
  color:  #0072b1;
  font-size: 40px;
  padding-top: 10px;
  margin: 10px
}

@media screen and (max-width: 1024px) {
.project-container {
  grid-template-columns: 1fr 1fr;   
  gap: 1rem; 
  margin: 20px 0;
}
  
.project-one {      
  grid-row-start: auto;
  grid-column-start: 1;
  grid-row-end: auto;
  grid-column-end: 2;
}
    
.project-two {
  grid-row-start: auto;
  grid-column-start: 2;
  grid-row-end: auto;
  grid-column-end: 3;
}
     
.project-three {      
  grid-row-start: auto;
  grid-column-start: 1;
  grid-row-end: auto;
  grid-column-end: 2;
}
    
.project-four {     
  grid-row-start: auto;
  grid-column-start: 2;
  grid-row-end: auto;
  grid-column-end: 3;
}
    
.project-five {     
  grid-row-start: auto;
  grid-column-start: 1;
  grid-row-end: auto;
  grid-column-end: 2;
  }
}

@media screen and (max-width: 768px) {

  .navigation .menu-btn i{
    display: block;
  }

  label {
    position: absolute;
    top: 20px;
    left: 20px;
  }

  .navigation ul{
    position: absolute;
    top: 80px;
    left: -100%;
    background: rgb(103, 119, 104); 
    width: 100%;
    text-align: center;
    display: block;    
  }

  a:hover {
    background: rgb(93, 109, 94);
    transition: .5s;
  } 

  #click:checked ~ ul{
    left: 0;
  }

  .navigation ul li{
    width: 100%;
    margin: 20px 0;
  }
  .navigation ul li a{
    width: 100%;
    margin-left: -100%;
    display: block;
    font-size: 20px;   
  }
  
  #click:checked ~ ul li a{
    margin-left: 0px;
  }


.project-container {
  grid-template-columns: 1fr;
  grid-column-start: auto;  
  grid-column-end: auto;
}

.project { 
  grid-row-start: auto;
  grid-column-start: 1;
  grid-row-end: auto;
  grid-column-end: 2;
}

}

@media screen and (max-width: 425px) {

  .fixat {
    position: sticky;
    top: 0;
    z-index: 1;
  }

  .navigation .menu-btn i{
    display: block;
  }

  label {
    position: absolute;
    top: 20px;
    left: 20px;
  }

  .navigation ul{
    position: absolute;
    top: 80px;
    left: -100%;
    background: rgb(103, 119, 104);    
    width: 100%;
    text-align: center;
    display: block;    
  }

  a:hover {
    background: rgb(93, 109, 94);
    transition: .5s;
  } 

  #click:checked ~ ul{
    left: 0;
  }

  .navigation ul li{
    width: 100%;
    margin: 20px 0;
  }
  .navigation ul li a{
    width: 100%;
    margin-left: -100%;
    display: block;
    font-size: 20px;   
  }
  
  #click:checked ~ ul li a{
    margin-left: 0px;
  }

}