@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

html {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body {
  background-color: white;
}

.container {
  display: grid;
  grid-gap: 20px;
}

.mainNav {
  background-color: black;
}

/* nav bar */
.mainNav ul {
  display: grid;
  padding: 0;
  list-style: none;
  grid-template-columns: repeat(4, 1fr);  
}

.mainNav a {
  display: block;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-size: 1,5rem;  
  color: white;

}

footer  {
  margin-top: 2rem;
  background-color: black;
  text-align: left;
  padding: 1rem;
  color: white;
}









