@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

html {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body {
  background-color: white;
}

.container {
  display: grid;
  grid-gap: 20px;
  /* height: 1500px; */
}

.mainNav {
  background-color: black;
}

/* nav bar */
.mainNav ul {
  display: grid;
  padding: 0;
  list-style: none;
  grid-template-columns: repeat(4, 1fr);  
}

.mainNav a {
  display: block;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-size: 1,5rem;  
  color: white;
}

.mainNav a:hover {
  background-color: rgb(46, 43, 43);
}


footer  {
  margin-top: 2rem;
  background-color: black;
  text-align: left;
  padding: 1rem;
  color: white;
}

.socialMedia {
  display: flex;  
  justify-content: flex-end;
}

#fabOne {
  color: white;
  padding: 10px;
  font-size: 35px;  
}

#fabTwo {
  color: #0072b1;
  padding: 10px;
  font-size: 35px;  
}









